h1{font-style:oblique; font-variant:small-caps; font-size:40; text-align:center; text-decoration:underline; background:red;}
h3{font-style:italic; font-size:30; text-decoration:underline; background:yellow; font-family:Felix Titling;}
p{font-style:oblique; font-size:18; font-family:Segoe Print;}
OL{font-style:oblique; font-size:18; font-family:Segoe Print;}